
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
    text-align: left;
    background-color: #fff;
}

h5 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#logo { /* LOGO SENAC */
    margin: 5px auto;
}

#title-table {  /* TÍTULO DA LISTA, INDEX */
    font-family: 'Times New Roman', Times, serif;
}

#jumbotron { /* CAIXA TEXTO PRINCIPAL INDEX */
    margin-top: 1%;
    background-color: #003669!important;
}

#titlejumbo { /* ALTERANDO APENAS O TÍTULO DENTRO DA CAIXA DE TEXTO DO INDEX */
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

#cursosbg { /* GUIA CURSOS */
    margin-top: 3%;

}
footer { /* RODAPÉ */
    text-align: center;
    color: #a9b2bb;
    background-color: #f9f9f9;
    padding-top: 5%;
}

#formsend { /* BOTÃO ENVIAR */
    margin: 4% 0%;
}

#formclear { /* BOTÃO LIMPAR */
    margin: 4% 0%;
}

#titleform { /* TITULO GUIA CONTATO */
    font-family: Georgia, Times, 'Times New Roman', serif;
}

#form-all { /* FORMULÁRIO GUIA CONTATO */
    margin-top: 3%;
}

.card {
    text-align: justify;
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }